




/* styles for full body  */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body{
    font-family: 'Comfortaa', cursive;
    background-color:white;
}
/* header part styles */
header{
    padding-top: 100px;
    padding-left: 120px;  
    font-size: 25px;
}
/* intro part styles */
.intro-part{
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
}
/* intro-header styles */
.header-of-intro{
    padding-top: 150px;
    padding-left: 120px;
    width: 500px;
    color: rgb(80, 76, 76);
}
.header-of-intro h1{
    font-size: 45px;
    
}
.button{
    text-decoration: none;
    background-color: darkcyan;
    color: white;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 20px;
  

}
/* image styles */
.img-part{
    padding-top: 160px;
    padding-left: 150px;   
}
.img-part img{
    width: 350px;
    height: 300px;
}
/* animation part.. */
.button:hover{
    background: linear-gradient( rgb(204, 103, 230), darkcyan);
}
.button2:hover{
    background: linear-gradient( rgb(204, 103, 230), darkcyan);
    color: white;
    border-radius: 5px;
}
.img-part:hover{
    transform: scale(1.2);
    transition: 2s ease-in-out;
}
.collection-img img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.collecton:hover{
    box-shadow: 0px 0px 40px 40px rgb(255, 255, 255);
}

/* 2nd section  */
.section2 h2{
    text-align: center;
    padding-bottom: 50px;
}
.section2{
    align-items: center;
    margin-left: 75px;
    margin-top: 100px;
    margin-right: 25px;

}
.all-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 70px;

}
.collecton{
    width: 329px;
    height: 476px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.3),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.6);
    border-radius: 5px;
}
.collection-img{
    position: relative;
    width: 50px;
    
}
.collection-name{
    font-size: 22px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.collection-price{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.ratings{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.collection-des{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 25px;
}
.button2{
    text-decoration: none;
    color: darkcyan;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    font-size: 20px;
    margin-left: 1080px;

}


/* Bonus section styles  */

.bonus-part{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    padding-top: 150px;
    grid-column-gap: 70px;
    width: 1250px;
    height: 370px;
    margin-left: 50px;
    padding-left: 7px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.3),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.6);
    border-radius: 5px;
}
.bonus-des{
   width: 500px;
   padding-left: 70px;
}
.bonus-des h1{
    font-size: 40px;
}
.bonus-video{
    width: 560px;
    height: 315px;
}

/* footer styles  */

.footer-section{
    background-color: rgb(20, 5, 39);
    color: white;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin: 0%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-section h3{
   font-size: 30px;
}
.footer-sec2{
    text-decoration: none;
}


/* responsive layout for mobile phones */

@media only screen and (max-width:688px) {


    header{
        padding-left: 0px;
        text-align: center;
        
    }
    .intro-part{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header-of-intro{
        padding-left: 35px;
        
        width: 70%;
    }
   
    .img-part{
        padding-left: 0px;
    }
     .section2{
         margin-left: 0px;
     }
    .all-collection{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0px;
    }
    #see-more{
        margin-left: 190px;
    }
    .bonus-part{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
        height: 800px;
    }
    .bonus-des{
        width: 50%;
        padding-left: 20px;
        padding-right: 10px;
    }
    .bonus-video{
        width: 55%;
        padding-left: 0px;

    }
    .You-tube{
        height: 200px;
        width: 350px;
        padding-left: 5px;
    }
        
    
}

/* responsive layout for tablets */

@media only screen and (min-width:689px) and (max-width:992px) {

     header{
        padding-left: 0px;
        text-align: center;
        
    }
    .intro-part{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .header-of-intro{
        padding-left: 35px;  
        width: 90%;
    }
    .img-part{
        padding-top: 190px;
        padding-left: 20px;
    }
    .section2{
        margin-left: 8px;
    }
    .all-collection{
        grid-template-columns: repeat(2, 1fr);
        padding-left: 0px;
    }
    #see-more{
        margin-left: 600px;
    }
    .bonus-part{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 50px;
        margin-left: 5px;
        width: 92%;
        height: 800px;
    }
    .bonus-des{
        width: 90%;
        padding-left: 20px;
        padding-right: 10px;
    }
  
}
